.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > :first-child:not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active){border-radius:1.2rem!important; border-bottom-left-radius:1.2rem!important; background:red;}

.v-expansion-panels > .v-expansion-panel.acd_item{border-radius:1.2rem!important;}

// .v-expansion-panels:not(.v-expansion-panels--variant-accordion) > :first-child:not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active){border-bottom-left-radius: 1rem !important;
//     border-bottom-right-radius: 1rem !important;}