
@charset "utf-8";

:root {
    /* main color */
    --main_01:#FFD338;
    --main_02:#0966E9;
    --main_03:#FF3D00;
    --main_04:#2480FF;

    /* gray color */
    --gray_01:#222222;
    --gray_02:#555555;
    --gray_03:#717171;
    --gray_04:#8f8f8f;
    --gray_05:#B7B7B7;
    --gray_06:#D6D6D6;
    --gray_07:#EFEFEF;
    --gray_08:#FFFFFF;

    /* BG color */
    --bg_01:#EDF0F6;
    --bg_02:#F8F9FB;
    --bg_03:#F0F7FF;

    /* line color */
    --line_01:#222222;
    --line_02:#D6D6D6;
    --line_03:#EAECED;
    --line_04:#F6F6F6;
    --line_05:#F8F9FA;

    /* icon color */
    --icon_01:#549CFF;
    --icon_02:#B9BFC6;
    --icon_03:#DFE0E1;
    
    /* shadow */
    --shadow_01: 0 0.3rem 0.8rem rgba(4,4,4, 0.1);
    --shadow_02: 0 0.7rem 2rem rgba(0,0,0, 0.12);
    --shadow_03: 0 3rem 3rem rgba(0,0,0, 0.05);
    --shadow_04: 0 -0.5rem 2rem rgba(0,0,0, 0.07);

    /* filter */
    --filter_01: drop-shadow(0 0.7rem 1.3rem rgba(0,0,0, 0.13));
    --filter_02: drop-shadow(0 0.3rem 0.8rem rgba(40,40,40, 0.1));


}


.radio_item {position:relative;}
.radio_item + .radio_item {margin-top:1.2rem;}

.radio_item.box_type > input {position:absolute; left:0; top:0; width:0.1rem; height:0.1rem; overflow: hidden;}
.radio_item.box_type > label {display:block; line-height:2.1rem; font-size:1.4rem; color:var(--gray_02); border:1px solid #eaeced; border-radius:1.2rem; padding:1.7rem 2rem; box-sizing:border-box;}
.radio_item.box_type > input:checked + label {font-weight:700; color:#222222; border:2px solid #FFD338; box-shadow:0 0.3rem 0.8rem rgba(40, 40, 40, 0.1); padding:1.6rem 1.9rem;}
/* .radio_item.box_type > label span:not(.badge):not(.line_group) {display:block;}
.radio_item.box_type > label span:not(.badge):not(.line_group) + span {margin-top:0.6rem;}
.radio_item.box_type > label .ex {font-size:1.3rem; line-height:2rem; color:var(--gray_04); font-weight:400;} */

/* ================================== */

.kameo .container {background-color: gray;}


.video_wrap {width: 360px;}
#videoContainer {
    position: relative;
}
#videoContainer video {
    width: 100%;
}

#video-controls {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
background: rgba(0, 0, 0, 0.5);
padding: 10px;
border-radius: 5px;
}

button {
margin: 0 5px;
background: none;
border: 1px solid white;
color: white;
padding: 5px 10px;
cursor: pointer;
}

/* input[type="range"] {
width: 200px;
margin: 0 10px;
}

button:hover, input[type="range"]:hover {
opacity: 0.7;
} */
