@charset "utf-8";


/* vuetify v-slider (꼼꼼하게 찾기 - 가격) */
.v-slider.v-input--horizontal{width:calc(100% - 1.6rem);}
.v-slider.v-input--horizontal .v-slider-thumb {left: calc(var(--v-slider-thumb-position) - var(--v-slider-thumb-size) / 2)}
.v-slider-thumb__surface{width:1.6rem!important; height:1.6rem!important; box-sizing:border-box; background:#fff!important; border:0.2rem solid #fc6969;}
.v-slider-track__fill{height:0.4rem!important;}
.v-slider-thumb__ripple {display:none!important;}
.v-slider.v-input--horizontal > .v-input__control {min-height:0.4rem!important;}
.v-slider .v-input__details{display:none!important;}


/* vuetify accordion reset */
.acd_wrap .v-expansion-panel:not(:first-child)::after {display:none}
.acd_wrap .acd_item .v-expansion-panel__shadow{display:none;}
.acd_wrap .v-expansion-panel-title__overlay{display:none;}
.acd_wrap.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > .acd_item:first-child:not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active),
.acd_wrap.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > .acd_item:last-child:not(:first-child):not(.v-expansion-panel--active):not(.v-expansion-panel--after-active),
.acd_wrap.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > .acd_item:not(:first-child):not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active){border-radius:1.2rem!important;}


/* vuetify accordion */
.acd_wrap .acd_item{background:#f8f8f8; border-radius:1.2rem!important; overflow:hidden;}
.acd_wrap .acd_item + .acd_item {margin-top:0.8rem;}
.acd_wrap .acd_title .v-expansion-panel-title{font-size:1.5rem; font-weight:700; line-height:1.8rem; padding:2rem;}
.acd_wrap .acd_title .v-expansion-panel-title__icon .v-icon{width:2.4rem; height:2.4rem;}
.acd_wrap .acd_title .v-expansion-panel-title__icon .v-icon::before{content:''; display:block; width:2.4rem; height:2.4rem; background: url(@/assets/images/common/ico_arrowB02.png) no-repeat center / 100% auto;}
.acd_wrap .acd_title .v-expansion-panel-title--active .v-expansion-panel-title__icon .v-icon::before{transform: rotate(180deg);}
.acd_wrap .acd_panel{overflow:hidden; background:#f8f8f8;}
.acd_wrap .acd_panel .v-expansion-panel-text__wrapper{padding:0 2rem 2rem;}

/* vuetify accordion ty02 : checkbox */
.acd_wrap .acd_item.ty02 .acd_title{display:flex; align-items:center; justify-content:space-between; width:100%; padding:1.7rem 2rem;}
.acd_wrap .acd_item.ty02 .acd_title .v-expansion-panel-title{display:block; width:2.4rem; height:2.4rem; padding:0; min-height:auto;}
.acd_wrap .acd_item.ty02 .acd_title .v-expansion-panel-title .v-icon{display:block;}
.acd_wrap .acd_item.ty02 .acd_title .v-expansion-panel-title__icon{margin:0;}
.acd_wrap .acd_item.ty02 .acd_title .acd_tab{font-size: 1.5rem;}

/* vuetify accordion ty03 : pc, line */
.pc .acd_wrap .acd_item.ty03{background:transparent; border-bottom:1px solid #ddd; border-radius:0!important;}
.pc .acd_wrap .acd_item.ty03:first-child{border-top:1px solid #000;}
.pc .acd_wrap .acd_item.ty03 + .acd_item.ty03{margin-top:0;}
.pc .acd_wrap .acd_item.ty03 .acd_title .v-expansion-panel-title{padding:2rem 0.8rem;}
.pc .acd_wrap .acd_item.ty03 .acd_panel{background:transparent;}
.pc .acd_wrap .acd_item.ty03 .acd_panel .v-expansion-panel-text__wrapper{padding:0 0.8rem 2rem;}
.pc .acd_wrap.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > .acd_item.ty03:first-child:not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active),
.pc .acd_wrap.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > .acd_item.ty03:last-child:not(:first-child):not(.v-expansion-panel--active):not(.v-expansion-panel--after-active),
.pc .acd_wrap.v-expansion-panels:not(.v-expansion-panels--variant-accordion) > .acd_item.ty03:not(:first-child):not(:last-child):not(.v-expansion-panel--active):not(.v-expansion-panel--before-active){border-radius:0!important;}




/* ***** accordion ***** */
/* .acd_st {border-radius:1.2rem; background-color:#f8f8f8;}
.acd_st + .acd_st {margin-top:0.8rem;}
.acd_st .acd_btn {position:relative; display:block; padding:2rem 4.4rem 2rem 2rem; font-size:1.5rem; font-weight:700; line-height:1.8rem;}
.acd_st .acd_btn::after {content:''; position:absolute; top:50%; right:2rem; display:block; width:2.4rem; height:2.4rem; margin-top:-1.2rem; background:url(../images/common/ico_arrowB02.png) no-repeat center / 100% auto;}
.acd_st.on .acd_btn::after {transform:rotate(180deg);}
.acd_st .acd_btn > strong{color:#000;}

.acd_st .acd_tab {display:flex; justify-content:space-between; align-items:center; padding:1.7rem 2rem; color:#000; font-size:1.5rem; line-height:1.8rem;}
.acd_st .acd_tab .check_st > label {padding-left:2.8rem;}
.acd_st .acd_tab .check_st > label::before {position:absolute; top:0; left:0; margin-right:0;}
.acd_st .acd_tab button {flex:none; width:2.4rem; height:2.4rem; background:url(../images/common/ico_arrowB02.png) no-repeat center / 100% auto;}
.acd_st.on .acd_tab button {transform:rotate(180deg);}
.acd_st .acd_panel {padding:0 2rem 2rem;} */

/* 요금제 상세정보 */
/* .pc .crp_detail_list {border-top:0.1rem solid #000;}
.pc .crp_detail_list .acd_st {border-bottom:0.1rem solid #ddd; border-radius:0; background-color:#ffff;}
.pc .crp_detail_list .acd_st + .acd_st {margin-top:0;}
.pc .crp_detail_list .acd_st .acd_btn {padding:2rem 3.2rem 2rem 0.8rem;}
.pc .crp_detail_list .acd_st .acd_btn::after {right:0.8rem;}
.pc .crp_detail_list .acd_st .acd_panel {padding:0 0.8rem 2rem;} */











/* ***** tooltip ***** */
/* .tooltip {position:relative; display:inline-block; vertical-align:middle;}
.tooltip > button {position:relative; display:block; width:1.6rem; height:1.6rem; background:url(../images/common/ico_tooltip.png) no-repeat center / contain;}
.tooltip > button:after {content:""; position:absolute; bottom:-0.7rem; left:50%; display:none; height:0; width:0; border-bottom:5px solid rgba(0, 0, 0, 0.8); border-left:4px solid transparent; border-right:4px solid transparent; transform:translateX(-50%);}
.tooltip > .info {position:absolute; top:calc(100% + 0.6rem); display:none; padding:0.8rem 1rem; margin:0 1.6rem; border-radius:0.8rem; background:rgba(0, 0, 0, 0.8); font-size:1.2rem; line-height:1.8rem; text-align:center; color:#fff; z-index:1;}
.tooltip.on > button:after,
.tooltip.on > .info {display:block;} */


/* vuetify tooltip reset */
.tooltip_btn.v-btn.v-btn--density-default{width:1.6rem; height:1.6rem; padding:0; margin:0;}
.tooltip_btn.v-btn--size-default {min-width:0;}
.tooltip_btn.v-btn.v-btn__underlay{display: none;}
.tooltip_btn.v-btn::after {display:none;}
.tooltip_btn.v-btn--variant-elevated {box-shadow:none;}
.tooltip_btn .v-btn__content{display:none;}

/* vuetify tooltip */
.tooltip_btn {position: relative; display: inline-block; vertical-align: middle; background:url(../images/common/ico_tooltip.png) 50% 50% no-repeat; background-size:1.6rem auto;}
.tooltip_btn.on::before{content: ""; position:absolute; bottom:-0.7rem; left:50%; height:0; width:0; border-bottom:5px solid rgba(0, 0, 0, 0.8); border-left:4px solid transparent; border-right:4px solid transparent; transform:translateX(-50%);}
.v-overlay--absolute[role='tooltip']{z-index:10!important;}
.v-tooltip > .v-overlay__content {width:100%; max-width:100% !important; left:0!important; /*max-width:100%!important; left:0!important;*/ margin:0; padding:0; background:transparent; transform:translateY( calc( 100% + 2.2rem ) ); z-index:1;}
.v-tooltip > .v-overlay__content > .tooltip_content{background:rgba(0, 0, 0, 0.8); max-width:60.8rem; font-size:1.2rem; line-height:1.8rem; text-align:center; color:#fff; border-radius:0.8rem; padding:0.8rem 1rem; margin:0 auto;}
    /* contained */
.v-tooltip.v-overlay--contained > .v-overlay__content {left:0!important;}
.v-tooltip.v-overlay--contained > .v-overlay__content > .tooltip_content{margin:0 1.2rem;}
    /* popup */
.pop_layer .v-tooltip > .v-overlay__content > .tooltip_content {max-width:calc(100% - 7rem); margin:0 auto;}



/* card */
.cardDetail-enter-active{ transition:all .3s; }
.cardDetail-leave-active{ transition:all .3s; }
.cardDetail-enter-from,
.cardDetail-leave-to {max-height:0; overflow:hidden;}
.cardDetail-enter-to,
.cardDetail-leave-from {max-height:25rem; overflow:hidden;}


/* compCon */
.compCon-enter-active{ transition:all .3s; }
.compCon-leave-active{ transition:all .3s; }
.compCon-enter-from,
.compCon-leave-to {max-height:0; padding:0; overflow:hidden;}
.compCon-enter-to,
.compCon-leave-from {max-height:28rem; overflow:hidden;}


/* error page */
.error_area{text-align:center; padding-top:8rem;}
.error_area .ttl{text-align:center;}
.error_area .ttl::before{content:''; display:block; max-width:10rem; height:10rem; background:url(../images/content/img_error.png) 50% 50% no-repeat; background-size:100% auto; margin:0 auto 3.2rem;}
.error_area .ttl h2{font-size:2.2rem; font-weight:700; color:#000; line-height:3rem;}
.error_area .ttl p{font-size:1.3rem; color:#909090; line-height:1.9rem; margin-top:1.3rem;}
.error_area .error_time {margin-top:3.2rem; background:#F8F8F8; border-radius:0.8rem; padding:1.8rem;}
.error_area .error_time strong{display:block; font-size:1.5rem; font-weight:700; line-height:2.2rem;}
.error_area .error_time span{display:block; font-size:1.2rem; color:#909090; line-height:1.8rem; margin-top:0.4rem;}

.error_area.ty02 .ttl::before{background-image:url(../images/content/img_error_chk.png)}

/* error page :: ie  */
.error_ie_area{display:flex; align-items:center; width:100%; padding:0;}
.error_ie_area > .section {padding:1.2rem 1.6rem;}
.error_ie_area .ttl{text-align:center;}
.error_ie_area .ttl::before{content:''; display:block; max-width:10rem; height:10rem; background:url(../images/content/img_ie_error.png) 50% 50% no-repeat; background-size:100% auto; margin:0 auto 3.2rem;}
.error_ie_area .ttl h2{font-size:2.2rem; font-weight:700; color:#000; line-height:3rem;}
.error_ie_area .ttl p{font-size:1.3rem; color:#909090; line-height:1.9rem; margin-top:1.3rem;}
.error_ie_area .cont{margin-top:3.2rem; background:#f8f8f8; border-radius:0.8rem; padding:3.2rem 5.2rem; text-align:center;}
.error_ie_area .cont strong{display:block; font-size:1.5rem; font-weight:700; color:#000; line-height:2.2rem;}
.error_ie_area .cont span{display:block; font-size:1.2rem; color:#909090; line-height:1.8rem; margin-top:0.9rem;}
.error_ie_area .cont ul{display:flex; align-items:flex-start; justify-content:space-between; width:45rem; margin:2rem auto;}
.error_ie_area .cont ul li{flex:1 1 25%; font-size:1.2rem; color:#000; line-height:1.8rem;}
.error_ie_area .cont ul li::before{content:''; display:block; width:4.8rem; height:4.8rem; margin:0 auto 0.9rem; background:url(../images/content/img_ie_error_chrome.png) 50% 50% no-repeat; background-size:100% auto;}
.error_ie_area .cont ul li.edge::before{background-image:url(../images/content/img_ie_error_edge.png)}
.error_ie_area .cont ul li.safari::before{background-image:url(../images/content/img_ie_error_safari.png)}
.error_ie_area .cont ul li.firefox::before{background-image:url(../images/content/img_ie_error_firefox.png)}

@media screen and (max-width:640px){
    .error_ie_area .cont{padding:2rem 3.3rem;}
    .error_ie_area .cont ul{width:23.4rem;}
    .error_ie_area .cont ul li{flex:0 0 4.3rem; font-size:1rem; line-height:1.4rem;}
    .error_ie_area .cont ul li::before{width:4rem; height:4rem;}
}

@media screen and (max-width:360px){
    .error_ie_area .cont ul{width:100%;}
}